.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(10, 10, 10, 0.62);
  backdrop-filter: blur(12px);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: var(--light-text);
  flex-shrink: 0;
}

.logoContainer img {
  width: 150px;
}

.navLinks {
  padding: 1em;
  border-radius: 4px;
  background: rgba(68, 68, 68, 0.34);
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  box-shadow: inset 0 0 52px -20px rgba(0, 0, 0, 0.75);
}

.navLinks a {
  color: var(--light-text);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: var(--accent);
}

.navActions {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 8px 16px;
  border: 1px solid var(--accent);
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  white-space: nowrap;
  height: 50px;
  display: grid;
  place-items: center;
}

.btn.outline {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: var(--accent);
  color: #000;
}

.btn.outline:hover {
  background: transparent;
  border: 1px solid var(--text);
  color: var(--text);
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--text);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .menuToggle {
    display: block;
  }

  .navLinks,
  .navActions {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
  }

  .navLinks.active,
  .navActions.active {
    display: flex;
  }

  .navLinks a {
    font-size: 1rem;
  }

  .navActions .btn {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .logoContainer {
    max-width: 220px;
    max-height: 70px;
    padding-left: 15px;
  }
}
